{{ define "main" }}
  <main class="m-5">
    {{ $featured := first 1 (where .Site.RegularPages
      "Params.featured" true)
    }}
    {{ with index $featured 0 }}
      <article class="featured-post">
        <header>
          <h2 class="title is-2">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>
        </header>
        <main class="content">
          {{ .Content }}
        </main>
      </article>
    {{ else }}
      <p>No featured post found.</p>
    {{ end }}
  </main>
{{ end }}
