{{ define "main" }}
  <main class="m-5">
    <section>
      <header>
        <nav class="my-5 pl-1">
          <a
            href="{{ .Site.BaseURL }}"
            class="is-link"
            aria-label="Back to Blog">
            &#8592; Back to Blog
          </a>
        </nav>
        <h2 class="title is-2" style="color: #8b0031">{{ .Title }}</h2>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </header>
      <main class="py-5 content">
        {{ .Content }}
      </main>
      <footer>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </footer>
    </section>
  </main>
{{ end }}
